@import url('https://fonts.googleapis.com/css?family=Raleway:600');

@font-face {
  font-family: "Bebas Neue Book";
  src: url("fonts/BebasNeueBook.otf");
}

@font-face {
  font-family: "Bebas Neue Bold";
  src: url("fonts/BebasNeueBold.otf");
}

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("fonts/BebasNeueRegular.otf");
}

@import '_header';

